{% schema %}
{
  "name": "Product Self Reset",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル",
      "default": "商品情報"
    }
  ],
  "presets": [
    {
      "name": "Product Self Reset"
    }
  ]
}
{% endschema %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
</div> 